#!/usr/bin/expect

set cmdTimeout 200
set runCommand [lindex $argv 0]
set oldRootPwd [lindex $argv 1]
set newRootPwd [lindex $argv 2]

spawn $runCommand

expect {
    "*Enter password for user root:*" {send "$oldRootPwd\r"; exp_continue}
    "*New password:*" {send "$newRootPwd\n"; exp_continue}
    "*Re-enter new password:*" {send "$newRootPwd\n"; exp_continue}
    "*Change the password for root ?*" {send "y\n"; exp_continue}
    "*Remove anonymous users?*" {send "y\n"; exp_continue}
    "*Disallow root login remotely?*" {send "n\n"; exp_continue}
    "*Remove test database and access to it?*" {send "n\n"; exp_continue}
    "*Reload privilege tables now?*" {send "y\n"; exp_continue}
    "*Do you wish to continue with the password provided?*" {send "y\n"; exp_continue}

}
